/* ---------------------------- max-width: 1200px ----------------------  */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .box-container {
    grid-template-columns: 2fr 3.5fr;
  }

  .box-container .right-col {
    margin-top: 0;
  }

  .slider {
    width: unset;
  }

  .box-container .right-col img {
    width: 100%;
    object-fit: cover;
  }
}

/* ---------------------------- max-width: 991px ----------------------  */

@media (max-width: 991px) {

  .header-1,
  .header-2 {
    padding: 2rem;
  }

  .header-2 #menu-bar {
    display: initial;
  }

  .header-2 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 2rem;
    display: none;
    display: none;
    z-index: 2;
  }

  .header-2 .navbar.active {
    display: initial;
  }

  .header-2 .navbar a {
    font-size: 1.7rem;
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    border: 0.1rem solid #fafafa;
    border-left: 1rem solid var(--green);
  }

  section {
    padding: 2rem;
  }

  .box-container {
    grid-template-columns: 1fr 2fr;
  }

  .box-container .right-col {
    margin-top: 0;
  }

  .slider {
    width: unset;
  }

  .box-container .right-col img {
    width: 100%;
    object-fit: cover;
  }
}

/* ---------------------------- max-width: 768px ----------------------  */

@media (max-width: 768px) {
  .header-1 .search-box-container {
    width: 30rem;
  }

  .box-container {
    grid-template-columns: 1.5fr 2fr;
  }

  .right-col {
    display: flex;
  }
}

/* ---------------------------- max-width: 450px ----------------------  */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header-1 {
    flex-flow: column;
  }

  .header-1 .search-box-container {
    width: 100%;
    margin-top: 2rem;
  }

  .box-container {
    grid-template-columns: auto;
  }

  .right-col {
    display: flex;
  }

  .footer .box-container .box .icons a {
    font-size: 1.5rem;
  }

  .credit,
  .credit span {
    font-size: 1.5rem;
  }
}